<nav class="navbar navbar-default" role="navigation">
    <div class="container">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            <a class="navbar-brand" href="#">
                <span class="glyphicon glyphicon-road"></span> Калькулятор</a>
        </div>
    </div>
</nav>
<div class="jumbotron feature">
		<div class="container">
			<h2><span class="glyphicon glyphicon-equalizer"></span> <u>Оценка опасности одиночного и группового дефекта</u></h2>	
            <p align="justify"> Данная программа основана на методике оценки работоспособности и долговечности 
                труб и соединительных деталей трубопроводов с коррозионными дефектами при ремонте и диагностировании 
                участков магистральных газопроводов диаметром до 1420 мм с избыточным давлением газа до 9,8 МПа (100 кгс/см2) включительно.  
                Программа предназначен для организаций, выполняющих работы по диагностированию и ремонту магистральных газопроводов. 
                <a href="./src/assets/ST.pdf" target="_blank">СТА АО 970740000392-30-2013</a></p>
            <p><a class="btn btn-default" href="#start">Приступить</a></p>		
		</div>
	</div>


<div class="container">
    <div class="row">
        <div class="panel panel-primary">
            <div class="panel-heading" id="start">
                Данные об участке МГ
            </div>
          <p></p>
            <div class="form-group">                               
                <input type="text" class="form-control" name="" id="" placeholder="Принадлежность дефекта" value="УМГ Уральск, Уральское ЛПУ, МГ САЦ-4, I-нитка, 1024 км.">         
               </div>
                
                
             
<div class="col-lg-6">
 <div class="form-group">                               
                <input type="text" class="form-control" name="" id="" placeholder="Принадлежность дефекта" value="УМГ Уральск, Уральское ЛПУ, МГ САЦ-4, I-нитка, 1024 км.">         
               </div>
               
       </div>
            
       </div>
     
    

</div>