<div class="container-fluid">    
    <nav class="navbar navbar-light bg-primary">
        <a class="navbar-brand" href="/">
            <img src="../assets/img/pipeline-icon.png" width="30" height="30" class="d-inline-block align-top" alt="">
            <span> Калькулятор</span></a>
    </nav>
</div>
<div class="container-fluid">
    <div class="jumbotron feature">
        <h3>
            <img src="../assets/img/pipeline-icon.png" width="35" height="35" class="d-inline-block align-top" alt="">
            <u>Оценка опасности одиночного и группового дефекта</u>
        </h3>
        <p align="justify"> Данная программа основана на методике оценки работоспособности и долговечности труб и соединительных деталей трубопроводов
            с коррозионными дефектами при ремонте и диагностировании участков магистральных газопроводов диаметром до 1420
            мм с избыточным давлением газа до 9,8 МПа (100 кгс/см2) включительно. Программа предназначена для организаций,
            выполняющих работы по диагностированию и ремонту магистральных газопроводов.
            <a href="./src/assets/ST.pdf" target="_blank">СТА АО 970740000392-30-2013</a></p>
        <p><a class="btn btn-success" href="#start">Приступить</a></p>
    </div>
</div>
<div class="container-fluid">
    <div class="card card-outline-primary" id="start">
        <div class="card-header">
            Данные об участке МГ
        </div>
        <div class="card-block">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                    <div class="form-group">
                        <span class="label label-primary">Принадлежность:</span>
                        <input type="text" class="form-control " name="" id="km" value="УМГ Уральск, Уральское ЛПУ, МГ САЦ-4, I-нитка, 1024 км.">
                    </div>
                    <div class="form-group">
                        <span class="label label-primary">ГОСТ или технические условия:</span>
                        <input type="text" class="form-control " name="" id="" value="">
                    </div>
                    <div class="form-group">
                        <span class="label label-primary">Категория участка:</span>
                        <select name="category" class="form-control " id="category" [(ngModel)]="category">
                        <option *ngFor="let category of categoryArray" [value]="category.value">{{category.display}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <span class="label label-primary">Толщина стенки (мм):</span>
                        <input type="number" class="form-group form-control " name="frameWidth" id="frameWidth" min="0" max="25" step="1" value="12">
                    </div>
                        <span class="label label-primary">Коэффициент надежности по нагрузке:</span>
                    <div class="input-group">
                        
                        <input type="number" class="form-group form-control " name="loadCoef" id="loadCoef" min="0.8" max="1.5" step="0.1" value="1.1">
<!-- Модальная подсказка начало-->
                        <span class="input-group-btn"><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modelId">
                          ?
                        </button></span>
                        <div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                                        <h6 class="modal-title" id="modelTitleId">Коэффициент надежности по нагрузке</h6>
                                    </div>
                                    <div class="modal-body">
                                        <div class="container-fluid">
                                            <div class="row">
                                               <table class="table table-bordered">
  <thead>
    <tr>
      <th>#</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Username</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@TwBootstrap</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>                                   
                                    </div>
                                </div>
                            </div>
                        </div>
<!-- Модальная подсказка конец-->
                    </div>
                    <div class="form-group">
                        <span class="label label-primary">Температурный перепад (град. С):</span>
                        <input type="number" class="form-group form-control " name="tempDelta" id="tempDelta" min="-100" max="100" step="1" value="30">
                    </div>
                    <div class="form-group">
                        <span class="label label-primary">Скорость роста дефекта в длину (мм/год):</span>
                        <input type="number" class="form-group form-control " name="lVelocity" id="lVelocity" min="0" max="10" step="0.1" value="0.1">
                    </div>
                    <div class="form-group">
                        <span class="label label-primary">Скорость роста дефекта в глубину (мм/год):</span>
                        <input type="number" class="form-group form-control " name="dVelocity" id="dVelocity" min="0" max="10" step="1" value="0.01">
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                    <div class="form-group">
                        <span class="label label-primary">Материал трубы:</span>
                        <select name="pipeMaterial" class="form-control " [(ngModel)]="pipeMaterial" id="selectedMaterial">
                        <option *ngFor="let pipeMaterial of pipeMaterialsArray" [value]="pipeMaterial.pressure">{{pipeMaterial.name}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <span class="label label-primary">Изготовитель:</span>
                        <input type="text" class="form-control " name="manufacturer" id="manufacturer" value="">
                    </div>
                    <div class="form-group">
                        <span class="label label-primary">Рабочее давление (МПа):</span>
                        <input type="number" class="form-group form-control " name="workingPressure" id="workingPressure" min="0" max="9.8" step="0.1" value="5.5">
                    </div>
                    <div class="form-group">
                        <span class="label label-primary">Внешний диаметр трубы (мм):</span>
                        <input type="number" class="form-group form-control " name="outerWidth" id="outerWidth" min="0" max="1420" step="1" value="1420">
                    </div>
                    <div class="form-group">
                        <span class="label label-primary">Коэффициент надежности по материалу труб:</span>
                        <select name="pipematRelCoef" class="form-control " id="pipematRelCoef" [(ngModel)]="pipematRelCoef">
                        <option *ngFor="let pipematRelCoef of pipematRelCoefArray" [value]="pipematRelCoef.value">{{pipematRelCoef.display}}</option></select>
                    </div>
                    <div class="form-group">
                        <span class="label label-primary">Предел прочности металла трубы (МПа):</span>
                        <input type="text" class="form-control " name="durabilityLim" id="durabilityLim" value={{pipeMaterial}} disabled="">
                    </div>
                    <div class="form-group">
                        <span class="label label-primary">Коэффициент условий работы:</span>
                        <input type="text" class="form-control " name="workCondCoef" id="workCondCoef" value={{category}} disabled="">
                    </div>
                    <div class="form-group">
                        <span class="label label-primary">Коэффициент надежности по ответственности трубопровода:</span>
                        <input type="text" class="form-control " name="pipeRelCoef" id="pipeRelCoef" value="" disabled="">
                    </div>
                </div>
            </div>
            <div class="card-footer text-muted" >
                <button type="button" class="btn btn-success">Рассчитать</button>
                <button type="button" class="btn btn-primary">Сохранить</button>
                <button type="button" class="btn btn-danger">Сбросить</button>
            </div>
        </div>
    </div>

    